<!DOCTYPE html>
<html>
  <head>
    <title>Currency Converter in Javascript</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
      <img width="200" height="200" src="<%=data.thumbnails[0].url%>">
      <a target="_blank" href="<%=data.url%>"><span><%=data.title%></span></a>
      <p><%=data.description%></p>
      <a target="_blank" href="https://www.youtube.com/channel/<%=data.channel.id%>">
       Channel
    </a>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>